@import "foundation.scss";

.body {
  background-color: #ffffff !important;
}
.no-bg {
  background: transparent !important;
}

.custom-pb {
  padding-bottom: 10px !important;
}

.tiny-text {
  font-size: 12px;
}

.text-uppercase {
  text-transform: uppercase;
}

.basic-link {
  text-decoration: underline;
  color: #000;
}

.main-sub-heading {
  color: $grey;
  text-transform: uppercase;
  margin: 0;
  font-size: 20px;
}

.main-heading {
  text-transform: uppercase;
  margin: 0;
  font-size: 22px;
}

.main-body-p {
  color: $grey;
  line-height: (22/14);
}

.decorative-line {
  background: $grey;
  height: 2px;
}

.item-name {
  text-transform: uppercase;
  color: $accent;
}

.item-price {
  color: $grey;
}

table.button {
  margin-bottom: 0;
  table {
    td {
      padding: map-get($button-padding, default);
      a {
        padding: 0px;
      }
    }
  }
}
/*@media only screen and (max-width: 595px) {
  .text-right, .text-left {
    text-align: center !important;
  }

  .center-image {
    margin-left: auto;
    margin-right: auto;
  }
}*/

@media only screen and (max-width: 599px) {
  .top-image-size {
    width: 95% !important;
  }

  .top_logo_image {
    margin-left: auto;
    margin-right: auto;
    display: inline-block !important;
  }

  .contact {
    text-align: center !important;
  }

  .top_contacts {
    width: 100% !important;
  }

  .center-image {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .bottom-tel {
    text-align: center !important;
  }

  .bottom-tel-logo {
    width: 90% !important;
    padding-bottom: 15px !important;
  }

  .bottom-tel-1 p:last-child {
    display: none !important;
  }
  .bottom-tel-2 {
    margin-top: -16px !important;
  }

  /*.bottom-tel-mg {
    margin-top: -10px !important;
  }*/

  .quote-block-mail {
    font-size: 14px !important;
  }

  .sell-h {
    font-size: 20px !important;
    line-height: 23px !important;
  }

  .country-title {
    font-size: 18px !important;
  }

  .bottom-tel-containter {
    padding-bottom: 0 !important;
    //margin-left: 25px !important;
  }

  .th.small-12 {
    max-width: 100% !important;
  }

  .country-price {
    display: block !important;
    text-align: center !important;
  }

  .country-button {
    display: block !important;
    float: none !important;
    text-align: center !important;
    margin-right: auto !important;
  }

  .country-button-container {
    display: block !important;
    float: none !important;
  }
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.contact {
  text-align: right;
  font-size: 12px;
  line-height: 16px;
}

.quote-block-mail {
  background: #dbdbdb;
  font-size: 16px;
  line-height: 18px;
  font-family: sans-serif;
  font-weight: 300;
  color: #ffffff;
}

.center-image {
  margin-left: auto;
  margin-right: auto;
}
